name: Main

on: push

jobs:
  run-tests:
    name: Test Code
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v2
      
      - name: Run Go Test
        run: go test .
